{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/861ce09321.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Checkout Form</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
    <link rel="stylesheet" href="{% static "css/intern_dash4.css" %}">
</head>
<body>


   
    <header>
        <h1><img src="{% static "asset/icon.png" %}" alt=""></h1>
        <p>Super Admin</p>
        <nav>
            <ul>
                <li></li>
                <li><a href="{% url "dashboard" %}"><i class='bx bx-home-alt'></i> Dashboard</a></li>
                <li><a href="#"><i class="fa-solid fa-chart-simple"></i> Analytics</a></li>
                <li><a href="#"><i class="fa-solid fa-file-arrow-down"></i>  App Download Status</a></li>
                <li><a href="{% url "Mentoreship" %}"><i class='bx bxs-graduation' ></i> Mentorship</a></li>
                <li><a href="{% url "internship" %}"><i class="fa-solid fa-desktop"></i> Internship</a></li>
                <li><a href="{% url "fresher" %}"><i class="fa-solid fa-laptop-code"></i> Fresher</a></li>
                <li><a href="#"><i class='bx bx-briefcase' ></i> Experience</a></li>
                <li><a href="{% url "corporate_training" %}"><i class="fa-solid fa-folder-tree"></i> Corporate Training</a></li>
                <li><a href="#"><i class="fa-regular fa-file"></i> Courses</a></li>
                <li><a href="#"><i class='bx bxs-report'></i> Project Report</a></li>
                <li><a href="#"><i class="fa-regular fa-user"></i> Admin Settings</a></li>
                <li><a href="{% url "superuser_logout" %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- -------search-bar-------------- -->

    <div class="search">
        <div class="sec-inp">
            <div class="inp-bg">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search">
                <img src="../static/asset/logo.jpg" alt="">
            </div>
        </div>
    </div>





<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="" method="POST">
        {% csrf_token %}

        <div class="row">
          <div class="col-50">
              <div class="ac-in">
            <h4 class="title">Internship Application</h4>
        </div>
            <label for="fname"><i class="fa fa-user"></i>Internship profile</label>
            <input class="input-field" type="text" id="fname" name="name" value="{{username}}" readonly/>
            <label for="email"><i class="fa fa-institution"></i> Internship location</label>
            <input  class="input-field" type="text" id="email" name="email" value="{{email}}" readonly/>
            <label for="adr"> Internship_code_required</label>
            <input  class="input-field" type="text" id="adr" name="address" placeholder="0000111">
            <label for="city"> Internship_code</label>
            <input  class="input-field" type="text" id="city" name="city" placeholder="000000">
            <label for="city">company_name</label>
            <input  class="input-field" type="text" id="city" name="city" placeholder="CRTD">
            <label for="city"> Internship_ctc</label>
            <input  class="input-field" type="text" id="city" name="city" placeholder="3 LPA">
            <label for="city"> education</label>
            <input  class="input-field" type="text" id="city" name="city" placeholder="B.tech">
            <label for="city"> skill required</label>
            <input  class="input-field" type="text" id="city" name="city" placeholder="Django..">
 
            <div class="row">
              <div class="col-50">
                <label for="state">Internship_description</label>
              <textarea id="multiLineInput" rows="4" cols="50" placeholder="Enter description here..."></textarea> </div>
              <div class="col-50">
                <label for="zip">terms_and_conditions</label>
              <textarea id="multiLineInput" rows="4" cols="50" placeholder="terms and conditions..."></textarea>
              </div>
            </div>
          </div>

        </div>
        <!-- <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
         <input type="text" name="amount" value={{sum}}> -->
     <div class="sub">  
    <input type="submit" value="Submit" class="btn">
        <div id="button">
     <li class="form-btn"><a href="#">Add</a></li>
  <li class="form-btn"><a href="#">Update</a></li>
  <li class="form-btn"><a href="#">Delete</a></li>
  </div>
  </div> 
    </form>
    </div>
  </div>


 
  <!-- <div class="col-25">
    <div class="container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{items}}</b></span></h4>
     
     {% for i in data %}
     <p><a href="#">{{i.Name}}</a> <span class="price">{{i.Price}}</span></p>
     {% endfor %}
        
      <hr>
      <p>Total <span class="price" style="color:black"><b>{{sum}}</b></span></p>
    </div> -->
  </div>
</div>

</body>
</html>